/* start angular-specific style */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* end angular-specific style */

body {
  padding: 0;
}

.usercart_popoper {
  display: block;
  top: 45px;
  width: 250px;
  left: inherit;
  right: inherit;
  margin-left: -100px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
