<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="swtestApp" ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">Update your browser!</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">ServiceWhale demo</a>
      </div>

      <div class="collapse navbar-collapse">

        <!-- User info area: signup, login and logged -->
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!$root.authorized">
            <a href="/#signup">Sign up</a>
          </li>
          <li ng-show="!$root.authorized">
            <a href="javascript:;" ng-click="openLoginModal()">Log in</a>
          </li>
          <li ng-show="$root.authorized">
            <a href="javascript:;" class="pull-left" style="cursor: pointer;">Authorized user: <span>{{$root.authorizedUser.email}}</span> </a>
            <a href="javascript:;" class="pull-left" style="color: #FF0000" ng-click="$root.logoutUser()"> Logout</a>
          </li>
        </ul>

        <!-- User Cart area -->
        <form class="navbar-form navbar-right" style="margin-right: 100px;">
          <button type="button" class="btn btn-default" ng-click="toggleUserCart()">
            Cart<span ng-show="$root.userCartItems && $root.userCartItems.length > 0">: {{$root.userCartItems.length}} item<span ng-show="$root.userCartItems.length > 1">s</span></span>
          </button>
          <div class="usercart_popoper popover bottom" ng-show="isUsercartOpen">
            <div class="arrow"></div>
            <h3 class="popover-title"></h3>
            <div class="popover-content">
              <div ng-show="$root.userCartItems && $root.userCartItems.length < 1">
                No items in cart!
              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="userCartItem in $root.userCartItems track by userCartItem.id">
                  <span>{{userCartItem.name}}</span>
                  <a href="javascript:;" class="btn btn-xs btn-danger pull-right" ng-click="removeItemFromUserCart(userCartItem.id);">X</a>
                </li>
              </ul>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div ng-view=""></div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/item.rating.directive.js"></script>
<script src="scripts/controllers/navbar.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/signup.js"></script>
<!-- endbuild -->
</body>
</html>

<script type="text/ng-template" id="loginModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Log in</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="loginForm" novalidate>

      <div class="form-group">
        <label class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-5">
          <input class="form-control" type="email" name="email" ng-model="loginAccount.email" ng-maxlength=50 required/>
          <div ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
            <p class="help-block"
               ng-show="loginForm.email.$error.required">
              Your email is required.
            </p>
            <p class="help-block"
               ng-show="loginForm.email.$error.maxlength">
              Your email cannot be longer than 50 characters
            </p>
            <p class="help-block"
               ng-show="loginForm.email.$error.email">
              Not valid email!
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Password:</label>
        <div class="col-sm-5">
          <input class="form-control" type="password" name="password" ng-model="loginAccount.password" ng-maxlength=50 required/>
          <div ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
            <p class="help-block"
               ng-show="loginForm.password.$error.required">
              Your email is required.
            </p>
            <p class="help-block"
               ng-show="loginForm.password.$error.maxlength">
              Your email cannot be longer than 50 characters
            </p>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" type="button" ng-disabled="loginForm.$invalid" ng-click="login()">Log in</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>

    </form>
  </div>
</script>
