<div class="well" ng-show="items && items.length > 0">
  <form class="form-horizontal">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">From:</label>
          <div class="col-sm-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="filter.dateFrom"
                     is-open="filter.dateFromOpened" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="filter.dateFromOpened = !filter.dateFromOpened">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">To:</label>
          <div class="col-sm-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="filter.dateTo"
                     is-open="filter.dateToOpened" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="filter.dateToOpened = !filter.dateToOpened"><i
                  class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="checkbox col-sm-6 pull-right">
          <label>
            <input type="checkbox" ng-model="filter.inStockOnly"> In stock only
          </label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">Price from:</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="filter.priceFrom">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">Price to:</label>

          <div class="col-sm-6">
            <input type="text" class="form-control"ng-model="filter.priceTo">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">Color:</label>

          <div class="col-sm-6">
            <select class="form-control" ng-model="filter.color">
              <option value="all" selected="selected">All</option>
              <option ng-repeat="color in colors">{{color}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-sm btn-info" ng-click="clearFilter()">Clear</button>

  </form>
</div>

<hr/>

<div class="items">

  <div ng-show="!items || items.length < 1">
    No product items found!
  </div>
  <div class="item panel panel-default"
       ng-repeat="item in items | filterItemsByIssueDates:filter.dateFrom:filter.dateTo | filterItemsByPrices:filter.priceFrom:filter.priceTo | filterItemsByColor:filter.color | filterItemsByInStockOnly:filter.inStockOnly track by item.id">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <img ng-src="{{item.image}}" class="img-responsive">
        </div>
        <div class="col-md-4">
          <br/>

          <div>{{item.name}}</div>
          <div>{{item.color}}</div>

          <item-rating ng-model="item.rating"></item-rating>
        </div>
        <div class="col-md-4">
          <br/>

          <div>{{item.issueDate | date : 'MM/dd/yyyy'}}</div>
          <div>
            <span class="label label-info" ng-show="item.inStock">In stock</span>
          </div>
        </div>
        <div class="col-md-2">
          <br/>

          <div>{{item.price}}</div>
          <div>
            <a href="javascript:;" class="btn btn-primary" ng-click="orderItem(item.id)">Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
