<h3 class="page-header">Sign up</h3>

<div class="alert alert-danger" ng-show="passwordsDoNotMatch">
  Passwords do not match.
</div>

<form class="form-horizontal" name="form" role="form" novalidate show-validation>

  <div class="form-group">
    <label class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-4">
      <input class="form-control" type="email" name="email" ng-model="newAccount.email" ng-maxlength=50 required/>
      <div ng-show="form.email.$dirty && form.email.$invalid">
        <p class="help-block"
           ng-show="form.email.$error.required">
          Your email is required.
        </p>
        <p class="help-block"
           ng-show="form.email.$error.maxlength">
          Your email cannot be longer than 50 characters
        </p>
        <p class="help-block"
           ng-show="form.email.$error.email">
          Not valid email!
        </p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-4">
      <input class="form-control" type="password" name="password" ng-model="newAccount.password" ng-maxlength=50 required/>
      <div ng-show="form.password.$dirty && form.password.$invalid">
        <p class="help-block"
           ng-show="form.password.$error.required">
          Your email is required.
        </p>
        <p class="help-block"
           ng-show="form.password.$error.maxlength">
          Your email cannot be longer than 50 characters
        </p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Confirm password:</label>
    <div class="col-sm-4">
      <input class="form-control" type="password" name="confirmPassword" ng-model="newAccount.confirmPassword" ng-maxlength=50 required/>
      <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
        <p class="help-block"
           ng-show="form.password.$error.required">
          Your email is required.
        </p>
        <p class="help-block"
           ng-show="form.password.$error.maxlength">
          Your email cannot be longer than 50 characters
        </p>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="button" ng-click="submit()"
            class="btn btn-primary" ng-disabled="form.$invalid || submitting">Sign up</button>
  </div>

</form>
